.menu__container {
  transform-origin: center center 0px;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-15deg);
}

.menu__container:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
