/* HTML: <div class="loader"></div> */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  animation: l11 5s infinite;
  background-image: url("../../assets/logo.png");
  background-size: 80px;
}
.loader:before,
.loader:after {
  content: "";
  background-image: url("../../assets/logo.png");
  background-size: 30px;
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 12.5px);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -42px;
  animation: l11 1.5s infinite;
}
.loader:after {
  animation-delay: 1s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}
